.actions {
    @include flex(row, 1rem);
    justify-content: flex-end;
    padding-bottom: 1rem;

    & > * {
        max-width: 12.5rem;
    }
}


.goBack {
    @include flex(row, rem(8px));
    align-items: center;
    cursor: pointer;
    min-width: max-content;
    padding: 1.5rem 0;
}

.link {
    // text-decoration: underline;
    // font-size: 90%;
    color: darken($color-primary, 20%);
    cursor: pointer;
}