.search_input {
  @include flex(row, 1rem);
  align-items: center;
  padding: rem(22px) rem(24px);
  border: 1px solid $color-border-light;
  border-radius: 4px;
  max-width: rem(382px);
  min-width: rem(200px);
  width: 100%;
  background-color: #fff;
  height: 3rem;
  position: relative;

  &.full {
    max-width: 100%;
  }

  .icon {
    color: $color-subtext;
  }

  .text {
    left: rem(24px);
    top: 50%;
    transform: translateY(-50%);
    color: $color-subtext;
    font-size: 0.875rem;
  }

  input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.875rem;
    color: $color-text;

    &::placeholder {
      color: $color-subtext;
      font-size: 0.875rem;
    }
  }

  .close {
    // position: absolute;
    right: 1.5rem;
    color: $color-alt-text;
    cursor: pointer;
  }
}
