.actions {
    @include flex(row, 1rem);
    justify-content: flex-end;
    padding-bottom: 1rem;

    & > * {
        max-width: 12.5rem;
    }
}


.goBack {
    @include flex(row, rem(8px));
    align-items: center;
    cursor: pointer;
    min-width: max-content;
    padding: 1.5rem 0;
}

.container {
    width: 100%;

    .feeContainer {
        @extend .container;

        h3 {
            padding: 1rem 0;
        }
    }
    
    .formContainer {
        @extend .container;
        // border: red solid 2px;
        max-width: 100%;

        & > * {
            max-width: 100% !important;
            min-width: 10rem;
        }

        .toggleLabel {
            min-width: rem(156px);
            min-height: rem(36px);
            padding: .5rem 1rem .5rem 0;
            border-radius: 0.25rem;
            @include flex(row, .5rem);
            align-items: center;
            text-transform: capitalize;
        }
    
        .buttonContainer {
            @include flex(row, 1.5rem);
        }
    }
}

