
.businessDetails {
    min-height: rem(84px);
    // max-width: max-content;
    @include flex(row, rem(74px));
    box-shadow: $box-shadow-md;
    overflow-x: auto;
    &::-webkit-scrollbar {
        display: none;
    }

    .card {
        @include flex(row, rem(24px));
        align-items: center;
        
        .img {
            min-width: rem(84px);
            min-height: 100%;
            @include flex(row, 0px, center);
            background-color: $color-lightgrey;

            & > * {
                font-size: 24px;
            }
        }

    }

    
    .content {
        padding: rem(16px);
        @include flex(row, rem(24px));
        align-items: flex-start;
    }

    .titleAndDesc {
        @include flex(column, rem(8px));

        &.reverse{
            flex-direction: column-reverse;
        }

        h4 {
            color: $color-black;
            font-size: rem(18px);
            min-width: max-content;
            font-weight: 500;
        }

        p {
            color: #747474;
            font-weight: 400;
            min-width: max-content;
        }
    }
}