.toggleLabel {
    @include flex(row, 0.5rem, center);
    text-transform: capitalize;
    color: $color-subtext;
}

.dateFilter {
    @include flex(column, 1rem);
    position: relative;

    .dateRangeDisplay {
        border: rem(1px) solid $color-border-light;
        padding: rem(10px);
        @include flex(row, .5rem);

        p {
            color: $color-subtext;
            min-width: max-content;
        }
    }
    
    .datePickerWrapper {
        // border: blue solid 2px;
        padding: rem(10px);
        display: none;
        position: absolute;
        z-index: 999;
        top: rem(40px);
        left: rem(-10px);

        &.active {
            display: block;
        }
    }
}

.dashboard {
    box-sizing: border-box;

    .metricCards {
        @include flex(row, 1.5rem);
        padding: 1rem 0;
        overflow: auto;
        // border: red solid 2px;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
