.container {
    padding: 1rem 0;

    .list {

        .listRow {
            @include flex(row, 2rem, space);
            align-items: center;
            padding: 1rem 0;
            min-height: rem(72px);
            border-bottom: solid 1px $color-border-light;

            .logoTitle {
                @include flex(row, 1rem);
                align-items: center;

                img {
                    min-height: rem(32px);
                    min-width: rem(32px);
                    @include flex(row, 0, center);
                }
                
                .defaultLogo {
                    padding: rem(5px);
                    min-height: rem(32px);
                    min-width: rem(32px);
                    border-radius: 50%;
                    background-color: $color-primary;
                    @include flex(row, 0, center);

                    p {
                        color: #fff;
                    }
                }

                p {
                    font-weight: 600;
                    color: $color-black;
                }
            }

            .statusAction {
                @include flex(row, rem(44px), space);
                align-items: center;
                min-width: rem(320px);

                .status {
                    font-weight: 600;

                    &.online {
                        color: lighten(#388D65, 5%);
                    }

                    &.offline {
                        color: #E51414;
                    }
                }

                .action {
                    @include flex(row, .25rem);
                    align-items: center;
                    padding: 0.5rem 1rem;
                    border-radius: 0.5rem;
                    background-color: #F1FAF9;

                    &>:first-child {
                        // border: red solid 2px;
                        color: $color-grey-text !important;
                        rotate: 45deg;
                        filter: grayscale(1);
                    }

                    p {
                        font-size: rem(12px);
                        font-weight: 400;
                        color: $color-grey-text;
                    }
                }
            }
        }
    }
}