.container {
    // border: red solid 2px;

    .statusContainer {
        @include flex(column, 0.5rem);
        justify-content: center;
        align-items: flex-end;

        p {
            font-size: rem(16px);
            font-weight: 400;
            color: $color-subtext;
        }

        .toggleContainer {
            @include flex(row, 0.5rem);
            align-items: center;
            max-width: max-content;

            p {
                margin-top: -rem(4px);
                color: $color-black;
                font-size: rem(18px);
            }
        }
    }

    .accountHistory {
        padding: rem(32px) 0;
        @include flex(column, rem(24px));

        .title {
            border-bottom: $color-black 1px solid;
            max-width: rem(142px);
            min-height: rem(48px);
            @include flex(row, 1rem, center);
        }
    }
}