.container {
    padding: 1rem 0;

    .list {
        @include flex(row, 1rem);
        width: 100%;
        align-items: center;

        .column {
            @include flex(column, 2rem);
            width: 50%;
            min-width: min-content;

            .title {
                font-weight: 600;
                color: $color-black;
            }

            .row {
                @include flex(row, 1rem);
                align-items: center;
                max-width: rem(538px);
                width: 100%;

                & > :nth-child(1) {
                    width: 100%;
                    max-width: rem(433px);
                }
            }
        }
    }
}